* {
  font-family: Garamond, serif;
  font-weight: bold;
  font-size: 20px;
}

body {
  background: ##026c4c;
  background-image: url("zenbg-1.png"), url("zenbg-2.png");
  background-repeat: repeat-x, repeat;
}

h2 {
  font-family: sans-serif;
  font-style: oblique;
  color: #fff;
  text-shadow: 2px 2px black;
}

.template {
  visibility: hidden;
}

.student {
  border: 1px dashed #d3d3d3;
  background-color: #008080;
  padding: 0.75rem 1.25rem;
  height: 4rem;
  border-radius: 10px;
}

.student + .student {
  border-top: 0;
}

.student-name {
  float: left;
  line-height: 38px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 200px);
}

.actions {
  float: right;
  margin-bottom: 0;
}

.button {
  border-radius: 30px;
}

.button:hover {
  opacity: 0.7;
}

.promoted {
  background-color: #ffa807;
  border-color: #000;
}
