* {
  font-family: Garamond, serif;
  font-weight: bold;
}

body {
  background: ##026c4c;
  background-image: url("zenbg-1.png"), url("zenbg-2.png");
  background-repeat: repeat-x, repeat;
}

h2 {
  font-family: sans-serif;
  font-style: oblique;
  color: white;
}

.template {
  visibility: hidden;
}

.student {
  border: 1px dashed #ddd;
  background-color: teal;
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  /*height: 41px;
  text-indent: 10px;
  background-color: teal;*/
}

.student + .student {
  border-top: 0;
}

.actions {
  float: right;
  margin-bottom: 0;
}

.button {
  border-radius: 30px;
}

.button:hover {
  opacity: 0.7;
}
