@import url('https://fonts.googleapis.com/css?family=Acme');

* {
  font-family: Garamond, serif;
  font-weight: bold;
  font-size: 20px;
}

body {
  background: ##026c4c;
  background-image: url("zenbg-1.png"), url("zenbg-2.png");
  background-repeat: repeat-x, repeat;
}

h2 {
  font-family: 'Acme', sans-serif;
  text-transform: lowercase;
  font-style: oblique;
  color: #fff;
  text-shadow: 3px 3px black;
}

.template {
  visibility: hidden;
}

.student {
  border: 1px dashed #d3d3d3;
  background-color: #008080;
  padding: 0.75rem 1.25rem;
  height: 4rem;
  border-radius: 10px;
  transition: 0.25s;
}

.student:first-child button.move-up {
  opacity: 0.35;
  cursor: not-allowed;
}

.student:last-child button.move-down {
  opacity: 0.35;
  cursor: not-allowed;
}

.student + .student {
  border-top: 0;
}

.student-name {
  float: left;
  line-height: 38px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 200px);
}

.actions {
  float: right;
  margin-bottom: 0;
}

.actions .button {
  border-radius: 30px;
  color: #fff;
}

.actions .button:hover {
  opacity: 0.7;
  transform: scale(1.1);
  color: #fff;
}

.actions .button:enabled {
  color: #fff;
}

.promoted {
  background-color: #ffa807;
  border-color: #000;
  color: #fff;
}

[contenteditable]:hover {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 2px;
}

[contenteditable]:focus {
  outline-width: 5px;
}
